body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.capa {
    text-align: center;
    margin-top: 200px;
}

h1 {
    color: #ff2e2e;
}

h2 {
    color: #f76125;
    font-size: 22px;
}

p {
    color: #32fb00;
}
